footer {
    margin-top:40px ;
    text-align: center;
    font-size: 14px;
    background-color: var(--bg) ;
    border-radius: 3px;
    box-shadow: 0 -2px 6px black;
}

footer p {
    padding: 10px;
}