<div class="slider pizzas">
  <div class="slides">
    <div class="pizza">
      <h1>Tartiflette</h1>
      <div class="controls">
        <div class="prev"></div>
        <div class="next"></div>
      </div>
    </div>
    <div class="pizza">
      <h1>Jambon</h1>
      <div class="controls">
        <div class="prev"></div>
        <div class="next"></div>
      </div>
    </div>
    <div class="pizza">
      <h1>Fromage</h1>
      <div class="controls">
        <div class="prev"></div>
        <div class="next"></div>
      </div>
    </div>
  </div>
</div>

<div class="details">
  <h2>fromages</h2>
  <button class="add-to-cart"></button>
  <p>
    <strong>Catégorie: </strong><span>Crème</span>
    <strong>Ingrédients: </strong><span>Tomates, olives...</span>
    <strong>Prix: </strong><span>12 €</span>
  </p>
</div>

<div class="cart">
  <h1>Votre panier</h1>
  <p>Votre panier est vide...</p>
  <div class="total">
    <strong>TOTAL: </strong>
    <span>0</span> €
  </div>
</div>