<div class="pizzas">
    <div class="slides">
        <div class="pizza">
            <h1>Tartiflette</h1>
            <div class="controls">
                <div class="prev"></div>
                <div class="next"></div>
            </div>
        </div>
        <div class="pizza">
            <h1>Bouef Halal</h1>
            <div class="controls">
                <div class="prev"></div>
                <div class="next"></div>
            </div>
        </div>
        <div class="pizza">
            <h1>fromage</h1>
            <div class="controls">
                <div class="prev"></div>
                <div class="next"></div>
            </div>
        </div>
    </div>
</div>

<div class="details">
    <h2>tartiflette</h2>
    <button class="add-to-cart"></button>
    <p>
        <strong>Catégorie:&nbsp;</strong>
        <span></span>
    </p>
    <p>
        <strong>Ingrédients:&nbsp;</strong>
        <span></span>
    </p>
    <p>
        <strong>Prix:&nbsp;</strong>
        <span></span>
    </p>
</div>

<div class="cart">
    <h1>Votre panier</h1>
    <p>Votre panier est vide...</p>
    <p class="total">
        <strong>TOTAL: &nbsp;</strong>
        <span>0</span> €
    </p>
</div>